# Ignore all .log files
*.log



# Ignore a specific directory
/models/
/testing/
/functions/__pycache__/

# Ignore all .env files
*.env

# Ignore everything in the temp directory
/temp/

# Ignore all files named .DS_Store
.DS_Store

# Ignore specific file in a subdirectory
logs/debug.log